@font-face {
    font-family: 'Roboto Slab';
    src: url('/public/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root{
    --fondo: #2E3092;
}

*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    overflow-x:hidden;
    max-width: 100%;
}

header{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
}

header #up{
    margin-bottom: 0.5rem;
}


a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Slab","Times New Roman",Times,serif;
    font-weight: 700;
    font-weight: bold;
}

h3{
    margin: 0.2rem;
    color: white;
}
#logo{
    filter: invert();
    height: 100%;
}

#logo_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    width: auto;
}

.social{
    display: flex;
    align-items: center;
    color: white;
    margin: 0.2rem;
    height: 3vh;
}

#contact_information{
    display: flex;
    flex-direction: column;
    width: auto;
}

.icon_social_header{
    filter:invert(1);
    height: 100%;
    margin-right: 0.5rem;
}

#btn_toggle{
    background: none;
    border:none;
    box-sizing: border-box;
    font-family: "Roboto Slab","Times New Roman",Times,serif;
    border-bottom: 1px solid white;
}

#down a, #btn_toggle{
    width: auto;
    color: white;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Roboto Slab","Times New Roman",Times,serif;
}

#up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    padding: 2rem;
    height: 17.5vh;
}

#down{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color:white;
    position: sticky;
}

#opc_start{
    border-left: 0px;
}

.opc{
    border-left: 1px solid white;
}

#down a:hover{
    width: auto;
    color: white;
    text-shadow: 0px 0px 9px white;
}

#btn_toggle{
    display: none;
}


/*Responsive*/
@media (min-width:2500px) {
    *{
        font-size: 2rem;
    }
}
@media (max-width: 1199.98px) {
    header{
        align-items: center;
    }
    #contact_information{
        display: none;
    }
    #down{
        display: none;
    }
    #btn_toggle{
        display: block;
        border-bottom: 1px solid white;
    }
    #down a{
        width: 100%;
        text-align: center;
    }
    #down.open {
        display: flex;
        flex-direction: column;
    }
    #down.open .opc{
        flex-direction: column;
        border: none;
        border-top: 1px solid white;
    }
}