.filter{
    width: 4rem;
    height: 2rem;
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    position: relative;
}
.filter:hover{
    background-color: var(--principal-hover);
    cursor: pointer;
}
.icon-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
}
.icon-filter .icon{
    margin-right: 0.1rem;
}
.icon-filter img{
    max-width: 48%;
    width: auto;
    height: 100%;
    filter: invert(1);
}
.icon-filter .select{
    width: 30%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}
.select.open{
    transform: rotate(-180deg);
}
.filter-options{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: max-content;
    left: 0;
}
.filter-options.open{
    display: flex;
}
.filter-option{
    text-align: left;
    padding: 0.3rem;
    border: 1px solid black;
    width: 100%;
}
.filter-option:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.icon-option{
    flex-wrap: nowrap;
    width: 18px;
    height: auto;
    margin-right: 0.3rem;
}