#nombre_universidad{
    font-size: 45px;
    color: var(--principal);
}

#art_somos{
    width: 48%;
}
#img_somos{
    width: 48%;
}
#map{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
iframe{
    border: 0;   
    width: 100%;
    height: 450px;
}
#address{
    font-weight: bold;
}
@media (max-width: 1199.98px) {
    #art_somos{
        width: 100%;
    }
    #img_somos{
        width: 100%;
    }
}