#slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}