#slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide div > img{
    transition: transform 0.3s ease-in-out;
}
.slide div:hover > img{
    transform: scale(1.1);
}
.slide div:hover{
    cursor:pointer;
}
